

<!-- Main Wrapper -->
<!-- <div id="main-wrapper">
  <div class="container"> -->
<!--     <div class="row">
      <div class="12u"> -->

        <!-- Portfolio -->
        <!-- <section>
          <header class="major">
            <h2>My Portfolio</h2>
          </header>
          <div>
            <div class="row">
              <div class="4u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic02.jpg"%></a>
                  <header>
                    <h3>Web Development</h3>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                  <footer>
                    <a href="#" class="button button-alt">Find out more</a>
                  </footer>
                </section>
              </div>
              <div class="4u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic03.jpg"%></a>
                  <header>
                    <h3>Mobile Development</h3>
                  </header>
                  <p>Agile Softwares offers you complete suite of mobile products with highest quality with compliance to industry standards. We offer both enterprise and consumer based solutions.</p>
                  <footer>
                    <a href="#" class="button button-alt">Find out more</a>
                  </footer>
                </section>
              </div>
              <div class="4u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic04.jpg"%></a>
                  <header>
                    <h3>Consequat et tempus</h3>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                  <footer>
                    <a href="#" class="button button-alt">Find out more</a>
                  </footer>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="4u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic05.jpg"%></a>
                  <header>
                    <h3>Blandit sed adipiscing</h3>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                  <footer>
                    <a href="#" class="button button-alt">Find out more</a>
                  </footer>
                </section>
              </div>
              <div class="4u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic06.jpg"%></a>
                  <header>
                    <h3>Etiam nisl consequat</h3>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                  <footer>
                    <a href="#" class="button button-alt">Find out more</a>
                  </footer>
                </section>
              </div>
              <div class="4u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic07.jpg"%></a>
                  <header>
                    <h3>Dolore nisl feugiat</h3>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
                  <footer>
                    <a href="#" class="button button-alt">Find out more</a>
                  </footer>
                </section>
              </div>
            </div>
          </div>
        </section> -->

<!--       </div>
    </div> -->
<!--     <div class="row">
      <div class="12u"> -->

        <!-- Blog -->
        <!-- <section>
          <header class="major">
            <h2>The Blog</h2>
          </header>
          <div>
            <div class="row">
              <div class="6u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic08.jpg"%></a>
                  <header>
                    <h3>Magna tempus consequat lorem</h3>
                    <span class="byline">Posted 45 minutes ago</span>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                  <footer class="actions">
                    <a href="#" class="button button-icon button-icon-1">Continue Reading</a>
                    <a href="#" class="button button-alt button-icon button-icon-2">33 comments</a>
                  </footer>
                </section>
              </div>
              <div class="6u">
                <section class="box">
                  <a href="http://facebook.com/DreametryDoodle" class="image image-full"><%=image_tag "pic09.jpg"%></a>
                  <header>
                    <h3>Aptent veroeros et aliquam</h3>
                    <span class="byline">Posted 45 minutes ago</span>
                  </header>
                  <p>Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit  adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.</p>
                  <footer class="actions">
                    <a href="#" class="button button-icon button-icon-1">Continue Reading</a>
                    <a href="#" class="button button-alt button-icon button-icon-2">33 comments</a>
                  </footer>
                </section>
              </div>
            </div>
          </div>
        </section> -->

<!--       </div>
    </div> -->
<!--   </div>
</div> -->

<!-- Footer Wrapper -->

